{
  "printWidth": 99,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["**/*.yml", "**/*.yaml"],
      "options": {
        "printWidth": 119,
        "proseWrap": "preserve"
      }
    }
  ]
}
